<nav>
  <div class="row">
    <div class="col-md-9">
      <span>Landing Report</span>
    </div>
    <div class="col-md-3">
        <!-- <span><i class="fa fa-envelope"></i>
          <span class="badge badge-success">31</span>
        </span>
        <span><i class="fa fa-cogs"></i>
          <span class="badge badge-success">31</span>
        </span>
        <span><i class="fa fa-cogs"></i>
          <span class="badge badge-success">31</span>
        </span> -->

        <button class="btn btn-primary">Request A Demo</button>
      </div>
  </div>
</nav>

<!-- <nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">CoreUI</a></li>
  <li class="breadcrumb-item"><a href="#">Profile</a></li>
  <li class="breadcrumb-item active" aria-current="page">Data</li>
</ol>
</nav> -->

<nav>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">home</a></li>
    <li>
      <a routerLink="/postcards" routerLinkActive="active">postcards</a>
    </li>
  </ul>

  <ul>
    <li>
      <a routerLink="/home/profile" routerLinkActive="active">profile</a>
    </li>
  </ul>
</nav>

<main>
  <div class="jumbotron">
    <h1>We crunch the data for you</h1>
    <h6>Real-Time Analysis of Your Lead Pages</h6>
  </div>
</main>

<!-- <div class="form-group">
  <p>Tell Us About Yourself:</p>
  <div class="form-check">
    <label>Do you have an existing landing page?</label> <br/>
    <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="..."> Yes
    <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="..."> No
  </div>
</div> -->

<router-outlet></router-outlet>
